# Ignore all node_modules folders
**/node_modules/

# Ignore environment files
.env
**/.env

# Ignore build folders (optional, uncomment if needed)
# eCommerceFrontend/build/
# eCommerceWebapp/build/
